body.pagina1 {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.titulo {
  font-size: 50px;
  color: blue;
  font-weight: bold;
}

.destaque {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.instagram {
  font-family: "Montserrat", sans-serif;
  color: orange;
}

.github {
  font-family: "Montserrat", sans-serif;
  color: red;
}

.linkedin {
  font-family: "Montserrat", sans-serif;
  color: blue;
}

.input-vermelho {
  color: red;
}

img {
  position: relative;
  top: -900px;
  left: 835px;
  width: 220px;
}

/* Página 2 */
body.pagina2 {
  height: 100vh; /* Define altura de 100% da viewport */
  margin: 0; /* Remove margens padrão */
  display: flex;
  flex-direction: column; /* Alinha elementos verticalmente */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */

  a {
    text-decoration: none; /* Remove sublinhado do link */
    color: black;
    font-weight: bold;
    font-size: 30px;
  }

  a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
  }

  p {
    font-size: 15px;
    margin-top: 0;
  }

  h2 {
    font-size: 15px;
    margin-top: 0;
  }

  .titulo2 {
    color: blueviolet;
    font-size: 30px;
    font-style: italic;
    text-align: center; /* Centraliza o texto dentro do h1 */
  }
}
